@charset "UTF-8";
/* 헤더 */

header{
	width:100%;
	min-width:1200px;
	height:241px;
}
#top-header{
	height:40px;
	width:100%;
	min-width:1200px;
	overflow: hidden;
}
#top-left{
	overflow: hidden;
	height:100%;
	float:left;
}
.top-button{
	overflow: hidden;
	margin-top:5px;
	margin-left:10px;
	height:30px;
	width:30px;
	float:left;
}
.top-buttonimg{
	height:100%;
	width:100%;
	cursor: pointer;
}
#top-right{
	overflow: hidden;
	height:100%;
	float:right;
	width:240px;
}
#proimgdiv{
	margin-left: 150px;
	margin-top: 5px;
	margin-right: 5px;
	float:left;
	width:30px;
	height:30px;
}
#proimg{
	width: 100%;
	height: 100%;
	border-width: 0;
	border-radius: 10px;
	cursor: pointer;
}
#member{
	margin-top: 4px;
	float:left;
	font-size:25px;
	color: red;
	text-align: right;
    width: 90px;
}
#nim{
	margin-top: -3.5px;
	margin-left: 5px;
	float:left;
	font-size: 35px;
}
.top-right{
	float:right;
	margin-top:6px;
	margin-right: 5px;
	width: 80px;
	height: 30px;
	font-size:11px;
	font-weight:bold;
	color:white;
	background-color: #FFDC6C;
	border-width: 0;
	border-radius: 10px;
	cursor: pointer;
}

/* -----헤더 밑에---------------------------------------- */

#bottom-header{
	height:160px;
	width:100%;
	min-width:1200px;
	overflow: hidden;
}
#bottom-header-wrap{
	width:1060px;
	margin:0 auto;
	height:100%;
	overflow: hidden;
}
#logoleft2{
	float:left;
	width:396.1px;
	height:100%;
	overflow: hidden;
}
#logo{
	float:left;
	width:230px;
	height:100px;
	margin-top: 30px;
}
#logoimg{
	display:inline;
	margin-left:70px;
	width:130px;
	height:100px;
	cursor: pointer;
}

/* --카테고리 바------------------------------------------------ */

#category{
	min-width: 1200px;
	border-bottom: 3px solid #5CD1E5;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu>ul,
#cssmenu>ul>li,
#cssmenu>ul>li>a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
#cssmenu:after,
#cssmenu>ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  font-family: Raleway, sans-serif;
  line-height: 1;
  width: 1060px;
  margin: 0 auto;
}
#cssmenu>ul {
	background: #ffffff;
 	margin-left: 151.7px;
	width: 770px;
}
#cssmenu > ul > li {
  float: left;
  width: 150px;
  text-align: center;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #5CD1E5;
}

#menu1{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
}
#menu1 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu1 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu1{
	display:block;
}
#menu2{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
}
#menu2 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu2 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu2{
	display:block;
}
#menu3{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
}
#menu3 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu3 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu3{
	display:block;
}
#menu4{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
}
#menu4 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu4 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu4{
	display:block;
}
#menu5{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
}
#menu5 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu5 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu5{
	display:block;
}
#cssmenu>ul>li>ul{
	z-index:400;
}
#cssmenu a{
	cursor:pointer;
}



/* ------사진 있는 부분----------------------------------------- */

section{
	height:550px;
	width:100%;
	min-width:1200px;
}
#mainleft{
	position:absolute;
	height:550px;
	width:100px;
	float:left;
	cursor:pointer;
	z-index: 800;
}
.arrow{
	margin-top:200px;
	width:100px;
	height:100px;
}

#mainright{
	position:absolute;
	top:248.6px;
	right:0px;
	height:550px;
	width:100px;
	float:right;
	cursor:pointer;
	z-index: 800;
}

/* ------------------------------------------------------------------------------ */
#main{
	width:1200px;
	margin:0 auto;
	height:100%;
	overflow: hidden;
	margin-top:20px;
}

#slider{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.slider li{
    background-size:cover;
    background-position: center;
    float:left;
    width:450px;
    height:450px;
}
.item1{background-image:url('../image/10.jpg');}
.item2{background-image:url('../image/11.jpg');}
.item3{background-image:url('../image/12.jpg');}
.item4{background-image:url('../image/13.jpg');}
.item5{background-image:url('../image/14.jpg');}
.item6{background-image:url('../image/15.jpg');}

/* ------검색창----------------------------------------- */

#search{
	width:100%;
	min-width:1200px;
	height:80px;
	overflow:hidden;
}
#search-wrap{
	width:800px;
	margin:0 auto;
	height:70px;
	border-bottom-style:solid;
	border-bottom-color:gray;
	border-bottom-width: 10px;
}
#search-left{
	float:left;
	overflow: hidden;
	width:70px;
	height:100%;
}
#searchtext{
	float:left;
	margin-top:10px;
	margin-left:100px;
	height:50px;
	width:400px;
	font-size:20px;
}
#searchbutton{
	float:left;
	margin-top:10px;
	margin-left:10px;
	height:50px;
	font-size:20px;
}

/* -----하단 게시물------------------------------------------ */

article{
	width:100%;
	min-width:1200px;
	height:700px;
}
#articlewrap{
	width:1500px;
	margin:0 auto;
	height:100%;
	overflow: hidden;
}
.article{
	margin-top: 10px;
	margin-left:20px;
	float:left;
	width:350px;
	height:500px;
}
.articleTitle{
	border:1px solid black;
	height:50px;
	border-radius: 15px;
	background: skyblue;
	text-align: center;
	font-size: 30px;
	padding-top: 5px;
	color: white;
	font-weight: 900;
}
.articlecontent{
	border:1px solid black;
	background: #D8D8D8;
	height:600px;
	font-size: 30px;
	border-radius: 15px;
}
.articleinner{
	border:1px solid black;
	margin: 20px;
	background: #FCFCFC;
	border-radius: 15px;
	width:310px;
	height:560px;
}

/* ----저작권------------------------------------------- */
footer{
	width:100%;
	min-width:1200px;
	height:200px;
	border:1px solid black;
	text-align: center;
	font-size: 100px;
}



/* ----글크게보기------------------------------------------- */

#expansion{
	position:absolute;
	width: 923px;
	height: 563px;
	margin: 0 auto;
	background: white;
	z-index: 980;
	top: 21.4%;
    left: 26%;
    border:1px solid black;
    display: none;
}
#expansionIn{
	width: 860px;
    height: 502.1px;
    margin: 0 auto;
    margin-top: 30px;
}
#expansiontop{
	width: 860px;
	height: 450px;
}
#expansionL{
	float:left;
	height:100%;
	width:502.1px;
}
#mainimg{
	width:100%;
	height:100%;
}
#expansionR{
	float:left;
	height:100%;
	width:357.9px;
}
#expansionexit{
	position:absolute;
	top:0px;
	z-index: 1000;
	right:30px;
	color: black;
	font-size: 60px;
	font-weight: 900;
}
#expansionRheader{
	width:100%;
	height:20%;
}
#expansionWriter{
	width:100%;
	height:70%;
}
#expansionimg{
	float:left;
	width:50px;
	height:50px;
	margin: 10px;
	border-radius: 50px;
}
#expansionWri{
	font-size:30px;
	line-height: 60px;
}
#expansiondate{
	width:100%;
	height:30%;
}
#expansionRsection{
	width:100%;
	height:80%;
}
#expansionTitle{
	width:100%;
	height:30px;
}
#expansioncontent{
	width:100%;
	min-height:100px;
}
#expansioncomment{
	width:100%;
	height:185px;
	overflow:scroll;
}
.comment{
	margin:10px;
	width:300px;
	height:30px;
	background: #FFDF24;
	border-radius: 20px;
}
.commentans{
	margin:5px;
	margin-left: 90px;
	width:200px;
	height:20px;
	background: #FFFFA1;
	border-radius: 20px;
}

.expansionbox{
	margin-top:5px;
	margin-left:5px;
	text-align:center;
	float:left;
	background: #FFDF24;
	border-radius: 10px;
	width:100px;
	height:40px;
	line-height: 40px;
	font-weight: 800;
	color:white;
}
#petlife{
	float:left;
	text-align:center;
	width:80px;
	height:40px;
	line-height: 50px;
}
#like{
	margin-left:7.8px;
	float:left;
	height:40px;
	width:40px;
	text-align:center;
	line-height: 40px;
	font-size:39.3px;
}
#likeimg{
	float:left;
	margin-left:5px;
	margin-top:5px;
	width:40px;
	height:40px;
}
#commenttextdiv{
	margin-top:10px;
	margin-left:20px;
	float:right;
}
#commenttext{
	height:30px;
	width:240px;
}
#commentsubmit{
	width:100px;
	height:35px;
	font-size:15.9px;
	font-weight: 900;
	background:#FFDF24;
	color: white;
}

/* ---------------------------------------------------------------------- */

