@charset "UTF-8";
/*펫리뷰 헤더 css*/
.maincap{
	text-align:left;
	margin-left:10px;
}
.cap_p_head{
	font-weight:bold;
	font-size:30px;
	display:inline;
}
.cap_p_tag{
	font-weight:600; 
	font-size:15px;
	display:inline;
}
/*펫리뷰 정렬기준, 펼쳐보기 css*/
.selecttop{
	vertical-align: middle;
}
.open{
	padding-top:10px;
	padding-bottom:10px;
}
.open select{
	width:100px;
	height:30px;
}
.open button{width:80px;height:30px;}
.openbtn{
	width:80px;
	height:30px;
	text-align:center;
}
/*파란박스 흰색박스 css*/
.cmcontent{
	padding:10px;
	background-color:rgb(215, 238, 253);
}
.cmcontent a{
	text-decoration: none;
	color:inherit;
}
.cm_wrap{
	background:white;
	padding:15px;
}
/* 펫리뷰 게시판 크기 */
.board_all .num{width:5%;}
.board_all .animal{width:15%;}
.board_all .tit{width:40%;}
.board_all .writer{width:10%;}
.board_all .wdate{width:10%;}
.board_all .recommend{width:10%;}
.board_all .view{width:10%;}

.boardhead,
.boardbody .boardcontent{
	font-size:0px;	
	padding:10px 0;
}
.boardhead>div,
.boardbody .boardcontent>div{
	display:inline-block;
	font-size:15px;
}
.boardhead>div{
	font-weight:bold;
}
.boardhead{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background:#ccc;
}
.boardbody .boardcontent{
	border-top:1px solid lightgray;
	border-bottom :1px solid lightgray;
}
/*펼쳤을때*/
.boardopen{
	display:none;
}
.oprofile{
	margin:10px;
	width:10%;
	float:left;
}
.opencontent{
	margin:10px;
	text-align:left;
}
.otitle{
	font-weight:bold;
}
.likecount{
	margin:10px;
	text-align:right;
	
}
.cwriter{
	color:blue;
	font-weight:bold;
	margin-right:10px;
}
/*글쓰기 버튼 css*/
.wbtn{
	margin:20px;
	float:right;
}
/*페이지 번호 css*/
.paging{
	clear:both;
	margin-top:50px;
}
.paging a{
	padding:5px;
	font-size:20px;
}
.paging a{
	display:inline-block;
	width:30px;
	border-radius:100px;
	background:rgb(244, 244, 244);
}
/*검색 css*/
.searchselect>select{
	width:200px;
	height:30px;
	vertical-align: middle;
}
.textbox{
	width:150px;
	height:25px;
}
.find{
	background-color:rgb(244, 219, 179);
	border-color: rgb(244, 219, 179);
	width:80px;
	height:30px;
}