@charset "UTF-8";

/* ----채팅------------------------------------------- */

#chatdiv{
	position:absolute;
	height:900px;
	width:500px;
	z-index: 950;
	right: 0px;
	display: none;
}
#chatdivleft{
	float:left;
	width:10%;
	height:100%;
	background: #BDBDBD;
}
#chatdivleft1{
	margin-left:5px;
	margin-top:30px;
	width:40px;
	height:47px;
}
#individualtalk{
	width:100%;
	height:100%;
}
#chatdivleft2{
	margin-left:3px;
	margin-top:10px;
	width:45px;
	height:47px;
}
#grouptalk{
	width:100%;
	height:100%;
}
#chatdivright{
	float:left;
	height:100%;
	width:89.1%;
	background: #FFE08C;
	overflow:scroll;
}
#chattitle{
	width:100%;
	height:100px;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	font-weight: 700;
	color: white;
}
#chatsearch{
	width: 420.4px;
    height: 50px;
}
#chatsearchdiv{
	margin-left: 70px;
	border:1px solid gray;
	width:300px;
	height: 40px;
	border-radius: 5px;
}
#chatsearchimg{
	float:left;
	width:40px;
	height: 38.2px;
}
#chatsearchtext{
	float:left;
	width:260px;
	height:40px;
}
.chatcontent{
	width:100%;
	height:120px;
	margin-top: 20px;
	background: white;
}
.chatcontentprofile{
	float:left;
	width:25.5%;
	height:100%;
}
.chatcontentprofileimg{
	width:100%;
	height:75%;
}
.chatcontentimg{
	margin-left: 10px;
	width:85px;
	height:85px;
	border-radius: 50px;
}
.chatcontentprofilename{
	width:100%;
	height:20.7%;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
.chatcontentright{
	float:left;
	width:73.5%;
	height:100%;
}
.chatcontentrightL{
	float:left;
	width:82.4%;
	height:100%;
}
.chatcontent1{
	margin-top: 5px;
	background:#FAED7D;
	width:220px;
	height:30px;
	border-radius: 10px;
	padding-left: 10px;
}
.chatcontent2{
	background:#FAED7D;
	margin-top: 10px;
	margin-left: 10px;
	background:#FAED7D;
	width:220px;
	height:30px;
	border-radius: 10px;
	padding-left: 10px;
}
.chatcontent3{
	background:#FAED7D;
	background:#FAED7D;
	margin-top: 10px;
	margin-left: 20px;
	background:#FAED7D;
	width:220px;
	height:30px;
	border-radius: 10px;
	padding-left: 10px;
}
.chatcontentrightR{
	float:left;
	width:17.6%;
	height:100%;
}
.chatcontentnum{
	margin-top: 30px;
	margin-left:4.6px;
	border-radius: 50px;
	height:40px;
	width:40px;
	text-align: center;
	font-size: 25px;
	font-weight: 800;
	line-height: 36.2px;
	background: red;
	color: white;
}
.chatcontentfix{
	font-size: 35px;
	text-align: right;
}