@charset "UTF-8";

nav{
	width: 100%;
    height: 90px;
}
aside{
	margin-left: 20px;
    float: left;
    width: 205px;
    min-height: 363px;
    border: 1px solid gray;
    border-radius: 50px;
}

/* --카테고리 바------------------------------------------------ */


@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu>ul,
#cssmenu>ul>li,
#cssmenu>ul>li>a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
#cssmenu:after,
#cssmenu>ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #5CD1E5;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu>ul {
  background: #ffffff;
  margin-left: 245.2px;
  width: 770px;
}
#cssmenu > ul > li {
  float: left;
  width: 150px;
  text-align: center;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #5CD1E5;
}

#menu1{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
    z-index:100;
}
#menu1 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu1 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu1{
	display:block;
}
#menu2{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
    z-index:100;
}
#menu2 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu2 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu2{
	display:block;
}
#menu3{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
    z-index:100;
}
#menu3 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu3 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu3{
	display:block;
}
#menu4{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
    z-index:100;
}
#menu4 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu4 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu4{
	display:block;
}
#menu5{
	margin: 0;
    padding: 0;
    border: 0;
    width: 154.9px;
    height: 260px;
    position: absolute;
    list-style: none;
    border-radius: 10px;
    top: 41.9px;
    background: #5CD1E5;
    display:none;
    z-index:100;
}
#menu5 li{
	background: #5CD1E5;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-top: 24.4px;
}
#menu5 a{
	text-decoration: none;
	color:white;
}
#cssmenu>ul>li:hover #menu5{
	display:block;
}

/* --사이드 카테고리------------------------------------------------ */

aside>ul{
	list-style: none;
}
aside>ul li{
	border-radius:5px;
	text-align: center;
	margin-left: -24.3px;
    margin-top: 25px;
    margin-right:5.1px;
	background:white;
	font-size:23px;
	height: 43.3px;
    width: 175px;
}
aside>ul>li a{
	text-decoration: none;
	color:black;
}
